<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5wbXNw
			RmlsZTwva2V5PgogICAgPGludGVnZXI+NTwvaW50ZWdlcj4KICAg
			IDxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJvZmlsZTwva2V5PgogICAg
			PGRpY3Q+CiAgICAgIDxrZXk+VW5pZmllZFNsZWVwU2xpZGVyUHJl
			Zjwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+ZW5hYmxl
			cjwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+QUdQTTwv
			a2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+QVNQTTwva2V5
			PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+UHVibGlzaEJhdHRl
			cnlGYWN0b3JzPC9rZXk+CiAgICAgIDx0cnVlLz4KICAgICAgPGtl
			eT5OZXR3b3JrVGltZXJEZWxheTwva2V5PgogICAgICA8aW50ZWdl
			cj45MDA8L2ludGVnZXI+CiAgICAgIDxrZXk+U3RhbmRieURlbGF5
			SGlnaDwva2V5PgogICAgICA8aW50ZWdlcj44NjQwMDwvaW50ZWdl
			cj4KICAgICAgPGtleT5TdGFuZGJ5RGVsYXk8L2tleT4KICAgICAg
			PGludGVnZXI+MTA4MDA8L2ludGVnZXI+CiAgICAgIDxrZXk+U3Rh
			bmRieUJhdHRlcnlUaHJlc2hvbGQ8L2tleT4KICAgICAgPGludGVn
			ZXI+NTA8L2ludGVnZXI+CiAgICAgIDxrZXk+QXV0b1Bvd2VyT2Zm
			PC9rZXk+CiAgICAgIDx0cnVlLz4KICAgICAgPGtleT5Qcm94aW1p
			dHlXYWtlPC9rZXk+CiAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+
			CiAgICAgIDxrZXk+SU9QbGF0Zm9ybVN5c3RlbVNsZWVwUG9saWN5
			PC9rZXk+CiAgICAgIDxkYXRhPlUweFFWQUlBRXdDRUhoSUFCQUFB
			QUFBVUFBQUFCQUFBQmdBQUFBQUFBQUFQSlFBQUFBQUFBQUFBUUFB
			QUFFQUFBQUFRQUFBQUVBQUgKQUFBQUFBQUFBQThsQUFBQUFBQUFo
			QjRTQUFRQUFBQUFHQUFBQUFnQUFBVUFBQUFBQUFBQUR5VUFBQUFB
			QUFDRUhoSUFCQUFBQUFnUQpBQUFJQUFBQUJRQUFBQUFBQUFBUEpR
			QUFBQUFBQUNBQUFBQWdBQUFBQUFBQUFBQUFBQUFGQUFBQUFBQUFB
			QThsQUFBQUFBQUFDQUFBCkFBZ0FBQUFBQUFBQUFBQUFBQVlBQUFB
			QUFBQUFBQUVBQUFFQUFBQUFBQVFBQUFBRUFBQUFBQUFBQUFBQUJR
			QUFBQUFBQUFBUEpRQUEKQUFBQUFBQUFBUUFBQUFFQUFBQUFBQUFB
			QUFBR0FBQUFBQUFBQUFBQkFBQUFBQUFBeEJZQUFBQUFBQUFJQUFB
			QUNBQUFBQVVBQUFBQQpBQUFBRHlVQUFBQUFBQURFRmhBQUFBQVFB
			Q0JBQUFBZ1FBQUFCd0FBQUFnQUFBQVBPUUFBQUFBQUFNUVdBQUFB
			QUFBQUlBQUFBQ0FBCkFBQUZBQUFBQUFBQUFBOGxBQUFBQUFBQTFC
			WUFBQkFBQUFBQUFBQUFBQUFBQUFVQUFBQUFBQUFBRHlVQUFBQUFB
			QURFSGhJQVJBQUEKQUFZUUFBQUdBQUFBQndBQUFBSUFBQUFQT1FB
			QUFBQUFBSVFlRWdBRUFBQUFBQkFBQUFBQUFBQUhBQUFBQWdBQUFB
			ODVBQUFBQUFBQQp4QllBQUFBQUFBQUF3QUFBQU1BQUFBY0FBQUFJ
			QUFBQUR6a0FBQUFBQUFERUZnQUFBQUFBQUFpQUFBQUlnQUFBQlFB
			QUFBQUFBQUFQCkpRQUFBQUFBQU1RV0FBQUFBQUFBQUFBQUFBQUFB
			QUFIQUFBQUFRQUFBQTg1QUFBQUFBQUFRQUFBQUVBQUFBQUdBQUFB
			QmdBQUFBY0EKQUFBQUFBQUFEekVBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUJ3QUFBQUFBQUFBUE1RQUFBQUFBQUE9PTwvZGF0
			YT4KICAgICAgPGtleT5GYW5UaHJvdHRsZWRSUE08L2tleT4KICAg
			ICAgPGludGVnZXI+MjAwMDwvaW50ZWdlcj4KICAgICAgPGtleT5G
			YW5NYXg8L2tleT4KICAgICAgPGFycmF5PgogICAgICAgIDxpbnRl
			Z2VyPjY1MDA8L2ludGVnZXI+CiAgICAgIDwvYXJyYXk+CiAgICAg
			IDxrZXk+SW5pdGlhbFBMaW1pdDwva2V5PgogICAgICA8aW50ZWdl
			cj4wPC9pbnRlZ2VyPgogICAgICA8a2V5PkZyZXF1ZW5jeVZlY3Rv
			cnM8L2tleT4KICAgICAgPGFycmF5PgogICAgICAgIDxkYXRhPgpB
			Z0FBQUFBQUFBQUNBQUFBQUFBQUFNZ0FBQUFBQUFBQS8vLy8vLy8v
			RHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUdRQUFBQUNBQUFBQUFBQUFIZ2VBQUFBQUFB
			QXlBQUFBQUFBQUFBQlpPZ0RBQUFBQUFBQUFVdlFCd0FBCkFBQUFB
			QUV5dUFzQUFBQUFBQUFCR2FBUEFBQUFBQUFBQUFELy8vLy8vLzhQ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQURJQUFBQURBQUFBQUFBQUFO
			UVhBQUFBQUFBQXlBQUFBQUFBQUFBQ1pQUUJBQUFBCkFBQUFBakxv
			QXdBQUFBQUFBQUlBMEFjQUFBQUFBQUFCTXJnTEFBQUFBQUFBQVFD
			Z0R3QUFBQUFBQUFBQS8vLy8vLy8vRHdBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUdRQUFBQURB
			QUFBQUFBQUFLQ0dBUUFBQUFBQUxBRUFBQUFBCkFBQURaUFFCQUFB
			QUFBQUFBa3ZvQXdBQUFBQUFBQUl5MEFjQUFBQUFBQUFDQUxnTEFB
			QUFBQUFBQVRLZ0R3QUFBQUFBQUFBQS8vLy8KLy8vL0R3QUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUEvLy8vLy8vL0R3
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBRUpCUTB0SFVrOVZUa1FB
			QUFBQUFBQUFBV1FBWkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQVVrVkJURlJKVFVWZlUwaFBVbFFB
			QUFFREFBQXlBRElBClpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKQUFCTFJWSk9SVXdBQUFBQUFBQUFBQUFBQUFK
			a0FKWUF5QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBRlJJVWxWZlZFbEZValFBQUFBQUFBQUFBbVFBeUFE
			SUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQVZFaFMKVlY5VVNVVlNOUUFBQUFBQUFBQUJ5QURJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBZFhScGJHbDBlUzEwYkha
			c0FBQUFBQUFBQUFBOUFBQUFBQUFBQUFBQUFBQUEKQUFBQWJtOXVM
			V1p2WTJGc0xYUnNkbXdBQUFBQUFBRDZBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQo8L2RhdGE+CiAgICAgIDwv
			YXJyYXk+CiAgICAgIDxrZXk+VGhlcm1hbENvbmZpZ3VyYXRpb248
			L2tleT4KICAgICAgPGRpY3Q+CiAgICAgICAgPGtleT5Eb21haW48
			L2tleT4KICAgICAgICA8ZGljdD4KICAgICAgICAgIDxrZXk+Q1BV
			PC9rZXk+CiAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgPGtl
			eT5TRklXaW5kb3c8L2tleT4KICAgICAgICAgICAgPGludGVnZXI+
			NTAwMDA8L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+U0ZJTWFp
			bnRlbmFuY2U8L2tleT4KICAgICAgICAgICAgPGRpY3Q+CiAgICAg
			ICAgICAgICAgPGtleT5FZmZvcnRDdXJ2ZTwva2V5PgogICAgICAg
			ICAgICAgIDxzdHJpbmc+NDA9MCUsNzQ9NjclPC9zdHJpbmc+CiAg
			ICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgPGtleT5TRklE
			YXJ3aW5CRzwva2V5PgogICAgICAgICAgICA8ZGljdD4KICAgICAg
			ICAgICAgICA8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CiAgICAgICAg
			ICAgICAgPHN0cmluZz40MD0wJSw3ND02NyU8L3N0cmluZz4KICAg
			ICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8a2V5PlNGSUFw
			cE5hcDwva2V5PgogICAgICAgICAgICA8ZGljdD4KICAgICAgICAg
			ICAgICA8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CiAgICAgICAgICAg
			ICAgPHN0cmluZz40MD0wJSw3ND02NyU8L3N0cmluZz4KICAgICAg
			ICAgICAgPC9kaWN0PgogICAgICAgICAgICA8a2V5PlFPU1RoZXJt
			YWxUaHJlc2hvbGRzPC9rZXk+CiAgICAgICAgICAgIDxkaWN0Pgog
			ICAgICAgICAgICAgIDxrZXk+VXRpbGl0eTwva2V5PgogICAgICAg
			ICAgICAgIDxpbnRlZ2VyPjYxPC9pbnRlZ2VyPgogICAgICAgICAg
			ICAgIDxrZXk+Tm9uRm9jYWw8L2tleT4KICAgICAgICAgICAgICA8
			aW50ZWdlcj4yNTE8L2ludGVnZXI+CiAgICAgICAgICAgIDwvZGlj
			dD4KICAgICAgICAgICAgPGtleT5UaGVybWFsUHJlc3N1cmU8L2tl
			eT4KICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgPGtl
			eT5Ob21pbmFsPC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAg
			ICAgICAgICAgICAgICA8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4K
			ICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjYxPC9pbnRlZ2VyPgog
			ICAgICAgICAgICAgICAgPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4K
			ICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAg
			ICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICAgIDxrZXk+
			TW9kZXJhdGU8L2tleT4KICAgICAgICAgICAgICA8ZGljdD4KICAg
			ICAgICAgICAgICAgIDxrZXk+SGlnaFRocmVzaG9sZDwva2V5Pgog
			ICAgICAgICAgICAgICAgPGludGVnZXI+MTIwPC9pbnRlZ2VyPgog
			ICAgICAgICAgICAgICAgPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4K
			ICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjUwPC9pbnRlZ2VyPgog
			ICAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgICA8a2V5
			PkhlYXZ5PC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAg
			ICAgICAgICAgICA8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4KICAg
			ICAgICAgICAgICAgIDxpbnRlZ2VyPjIwMDwvaW50ZWdlcj4KICAg
			ICAgICAgICAgICAgIDxrZXk+TG93VGhyZXNob2xkPC9rZXk+CiAg
			ICAgICAgICAgICAgICA8aW50ZWdlcj45MDwvaW50ZWdlcj4KICAg
			ICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGtleT5U
			cmFwcGluZzwva2V5PgogICAgICAgICAgICAgIDxkaWN0PgogICAg
			ICAgICAgICAgICAgPGtleT5IaWdoVGhyZXNob2xkPC9rZXk+CiAg
			ICAgICAgICAgICAgICA8aW50ZWdlcj4yNTA8L2ludGVnZXI+CiAg
			ICAgICAgICAgICAgICA8a2V5Pkxvd1RocmVzaG9sZDwva2V5Pgog
			ICAgICAgICAgICAgICAgPGludGVnZXI+MTgwPC9pbnRlZ2VyPgog
			ICAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgICA8a2V5
			PlNsZWVwaW5nPC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAg
			ICAgICAgICAgICAgICA8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4K
			ICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjI1MjwvaW50ZWdlcj4K
			ICAgICAgICAgICAgICAgIDxrZXk+TG93VGhyZXNob2xkPC9rZXk+
			CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yNTE8L2ludGVnZXI+
			CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8L2Rp
			Y3Q+CiAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICA8a2V5PkdQ
			VTwva2V5PgogICAgICAgICAgPGRpY3QvPgogICAgICAgICAgPGtl
			eT5JTzwva2V5PgogICAgICAgICAgPGRpY3QvPgogICAgICAgIDwv
			ZGljdD4KICAgICAgPC9kaWN0PgogICAgICA8a2V5PkRhcmtXYWtl
			U2VydmljZXM8L2tleT4KICAgICAgPGRpY3Q+CiAgICAgICAgPGtl
			eT5EYXJrV2FrZUJhY2tncm91bmRUYXNrczwva2V5PgogICAgICAg
			IDxpbnRlZ2VyPjE8L2ludGVnZXI+CiAgICAgICAgPGtleT5TbGVl
			cFNlcnZpY2VzPC9rZXk+CiAgICAgICAgPGludGVnZXI+NzwvaW50
			ZWdlcj4KICAgICAgICA8a2V5PlNsZWVwU2VydmljZXNNb2Rlczwv
			a2V5PgogICAgICAgIDxkaWN0PgogICAgICAgICAgPGtleT5Nb2Rl
			QTwva2V5PgogICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgIDxr
			ZXk+RXhwaXJhdGlvbjwva2V5PgogICAgICAgICAgICA8aW50ZWdl
			cj4wPC9pbnRlZ2VyPgogICAgICAgICAgICA8a2V5PkJhdHRlcnlG
			bG9vcjwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4wPC9pbnRl
			Z2VyPgogICAgICAgICAgICA8a2V5PkJhc2VJbnRlcnZhbHM8L2tl
			eT4KICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgPGtl
			eT5BQzwva2V5PgogICAgICAgICAgICAgIDxkaWN0PgogICAgICAg
			ICAgICAgICAgPGtleT5CYXNlU2xlZXBJbnRlcnZhbDwva2V5Pgog
			ICAgICAgICAgICAgICAgPGludGVnZXI+MzYwMDwvaW50ZWdlcj4K
			ICAgICAgICAgICAgICAgIDxrZXk+QmFzZVdha2VDYXBJbnRlcnZh
			bDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+ODY0MDA8
			L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAg
			ICAgICAgIDxrZXk+QmF0dGVyeTwva2V5PgogICAgICAgICAgICAg
			IDxkaWN0PgogICAgICAgICAgICAgICAgPGtleT5CYXNlU2xlZXBJ
			bnRlcnZhbDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+
			MzYwMDwvaW50ZWdlcj4KICAgICAgICAgICAgICAgIDxrZXk+QmFz
			ZVdha2VDYXBJbnRlcnZhbDwva2V5PgogICAgICAgICAgICAgICAg
			PGludGVnZXI+MTgwPC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwv
			ZGljdD4KICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgPC9k
			aWN0PgogICAgICAgIDwvZGljdD4KICAgICAgPC9kaWN0PgogICAg
			PC9kaWN0PgogIDwvZGljdD4KPC9wbGlzdD4K
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
